/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.header__logo {
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
  font-size: 30px;
  margin-left: 220px;
  margin-right: 310px;
  margin-top: 63px;
  letter-spacing: 6px;
  cursor: pointer;
}

.header__ul {
  list-style: none;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  margin: 0;
  padding-left: 0;
}

.header__li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #626262;
  padding: 50px;
  font-size: 14px;
  text-align: right;
}

.header__img {
  margin-left: 220px;
  margin-top: 65px;
}
